[submodule "IdeaPlaceEx"]
	path = IdeaPlaceEx
	url = https://github.com/RedFantom/IdeaPlaceEx.git
	
[submodule "ConstGen"]
	path = ConstGen
	url = https://github.com/RedFantom/ConstGen.git

[submodule "anaroute"]
	path = anaroute
	url = https://github.com/RedFantom/anaroute.git

[submodule "device_generation"]
	path = device_generation
	url = https://github.com/RedFantom/device_generation.git

[submodule "limbo"]
	path = limbo
	url = https://github.com/RedFantom/limbo

[submodule "wnlib"]
	path = wnlib
	url = https://github.com/RedFantom/wnlib
